@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Noto Sans", sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* In your global CSS file */
.custom-scrollbar::-webkit-scrollbar {
	height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
}
